<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official usa-grid">
      <img src="{{ site.baseurl }}/assets/img/usa-flag.png" alt="U.S. flag">
      <p>An official website of the United States Government</p>
    </div>
  </div>
  <div class="site-navbar usa-grid">
    <a class="menu-btn" href="#">Menu</a>
    <img class="site-logo" src="{{ site.baseurl }}/assets/img/logos/logo-18f-black.svg">
    <nav role="navigation">
      <ul>
        <li>
          <a href="#">What we deliver</a>
        </li>
        <li>
          <a href="#">How we work</a>
        </li>
        <li>
          <a href="#">Hire 18F</a>
        </li>
        <li>
          <a href="#">Join 18F</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="overlay"></div>
