{% assign current = page.url | downcase | split: '/' %}

<ul>
  <li>
    <a {% if current[1] == 'what-we-deliver' %}class="usa-current"{% endif %} href="#">
      <span>What we deliver</span>
    </a>
  </li>
  <li>
    <a {% if current[1] == 'how-we-work' %}class="usa-current"{% endif %} href="#">
      <span>How we work</span>
    </a>
  </li>
  <li>
    <a {% if current[1] == 'hire-18f' %}class="usa-current"{% endif %} href="#">
      <span>Hire 18F</span>
    </a>
  </li>
  <li>
    <a {% if current[1] == 'join-18f' %}class="usa-current"{% endif %} href="#">
      <span>Join 18F</span>
    </a>
  </li>
  <li>
    <a {% if current[1] == 'blog' or page.path contains '_posts' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/blog/">
      <span>Blog</span>
    </a>
  </li>
</ul>
