<p class="post-byline">
{% if post.authors %}
  By
  {% for author in post.authors %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a class="post-author" href="" itemprop="name">{{ author | lookup:"authors,full_name"}}</a>
    </span>
    {% assign authorCount = post.authors | size %}
    {% if authorCount > 1 %}
      {% unless forloop.last %}
        <span class="post-author-comma">,</span>
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endif %}
</p>
