---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// USWDS
// ==========================

@import "_libs/wds/stylesheets/all";


// 18F site components
// ==========================

@import "_components/variables"; // TODO: fix this so variables work properly
@import "_components/typography";
@import "_components/buttons";
@import "_components/header";
@import "_components/hero";
@import "_components/layout";
@import "_components/post-feature";
@import "_components/nav-mobile";
@import "_components/footer";


// 18F site templates
// ==========================

@import "_templates/home";

// Blog index
// ==========================

.link-rss {
  float: right;
  font-size: $h5-font-size;

  &:before {
    background-image: url(../img/global/rss.png);
    background-image: url(../img/global/rss.svg);
    background-size: 100%;
    content: '';
    display: inline-block;
    height: $h6-font-size;
    margin-bottom: -2px;
    margin-right: 4px;
    width: $h6-font-size;
  }

  &:hover::after {
    background-image: url(../img/global/rss-hover.png);
    background-image: url(../img/global/rss-hover.svg);
  }
}

.post-list {
  @include unstyled-list;

  h2 {
    font-size: $h3-font-size;
    margin-top: 0.5em;

    a {
      color: $color-base;
      text-decoration: none;
    }
  }

  li {
    border-bottom: $border-light;
    display: inline-block;
    margin-top: $section-margins;
    padding-bottom: $section-margins;

    &:first-child {
      margin-top: 0;
    }
  }

  .post-tags {
    margin-top: 1em;
  }

  .media_link {
    margin-top: $site-margins;

    @include media($medium-screen) {
      float: right;
      margin-top: 0;
    }
  }

  img {
    max-height: 26rem;
  }
}

.blog-content {
  margin-top: $section-margins;
}

.post-link-continue_reading {
  @include link-arrow-right(medium/arrow-right);
}

.blog-search {
  float: right;
  width: 100%;

  @include media($medium-screen) {
    max-width: 29rem;
  }
}

.page-blog {
  .background-dark {
    .page-heading {
      @include media($medium-screen) {
        display: initial;
      }
    }
  }
}

.pagination {
  color: $color-gray;
  font-size: $h5-font-size;
  margin-bottom: $section-margins;
  margin-top: 2rem;

  > div {
    float: left;
    width: 33%;

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      a {
        float: right;
      }
    }
  }
}

// Blog post
// ==========================

.post-feature_image {
  background-position: center;
  background-size: cover;
  height: 36rem;

  @include media($medium-screen) {
    height: 40rem;
  }
}

.header_border,
.single-post {
  header[role=banner] {
    border-bottom: 1px solid #cccccc; // See if we can use a WDS color
  }
}

.single-post {
  header[role=banner] {
//    border-bottom: 1px solid #cccccc; // See if we can use a WDS color
  }

  article {
    @include margin(0 null $section-margins null);

    @include media($medium-screen + 200px) {
      @include margin($section-margins auto);
      max-width: 61rem;
    }

    .image-feature-small {
      margin-top: 0;
    }

    img {
      @include margin($section-margins null);
    }

    figure {
      @include margin($section-margins null);
      text-align: center; // center image if less than full width

      img {
        @include margin(0 null);
      }
    }

    figcaption {
      font-size: $h6-font-size;
      margin-top: 1rem;
      text-align: left;
    }
  }
}

.back-blog {
  @include link-arrow-left(medium/arrow-left);
  display: inline-block;
  font-size: $h6-font-size;
  margin-top: $section-margins;

  @include media($medium-screen + 200px) {
    margin-top: 0.7rem;
    position: absolute;
  }

  &:hover {
    color: $color-dark;
  }

  &:visited {
    color: $color-medium;
  }
}

.post-header {
  margin-bottom: $section-margins;
}

.post-byline {
  color: $color-gray;
  font-size: $h5-font-size;
}

.post-author {
  color: $color-gray;
  font-weight: $font-bold;
  text-decoration: none;

  &:visited {
    color: $color-gray;
  }
}

.post-author-comma {
  margin-left: -3px;
}

.post-tags {
  a {
    @include padding(0.6rem null);
    background-color: $color-medium;
    display: inline-block;
    font-size: $h6-font-size;
    font-weight: $font-bold;
    line-height: 1;
    margin-bottom: 4px;
    margin-right: 0;
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      background-color: $color-medium-hover;
    }

    &:hover,
    &:visited {
      color: $color-white;
    }
  }
}

@mixin widget-small() {
  @include padding(2rem null);
  border-bottom: $border-light;
  border-top: $border-light;
  font-size: $h5-font-size;
  font-weight: $font-bold;
}

.post-pagination {
  @include widget-small;

  .usa-width-one-half {
    &:last-child {
      margin-top: 1em;

      @include media($medium-screen) {
        margin-top: 0;
        text-align: right;
      }
    }
  }

  a {
    color: $color-medium;
    text-decoration: none;

    &:hover {
      color: $color-medium-hover;
    }

    h5 {
      color: $color-base;
      margin-top: 1rem;
    }
  }
}

.post-pagination-previous {
  @include link-arrow-left(medium/arrow-left);
}

.post-pagination-next {
  @include link-arrow-right(medium/arrow-right);
}

.social_bar {
  @include widget-small;
  margin-bottom: $section-margins;

  h5 {
    display: inline-block;
    margin-bottom: 0;
  }

  ul {
    @include unstyled-list;
    float: right;

    li {
      display: inline;
      margin-right: 2.7rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    &:before {
      margin-right: 0.8rem;
    }
  }
}

.posts {
  ul {
    @include unstyled-list;
  }
}

// Code samples
// ==========================

code,
pre {
  background-color: $color-gray-lightest;
  font-family: $font-monospace;
  font-size: 1.3rem;
}

pre {
  padding: 1.6rem;

  code {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

code {
  @include padding(0.2em null);

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

.highlight {
  pre {
    max-width: $lead-max-width;
  }
}

// Tag index
// ==========================

.page-tag-results {
  .post-list {
    li {
      &:first-child {
        border-top: $border-light;
        padding-top: 6rem;
      }
    }
  }
}

