.page-how-we-work {
  .graphic-list-link {
    @include margin(2rem null);
    @include media-link;
    text-decoration: none;
    width: 100%;
  }

  .graphic-list-icon {
    text-align: center;

    img {
      max-width: 6rem;
    }
  }

  .graphic-row {
    &:first-of-type {
      @include media($large-screen) {
        margin-bottom: 1rem;
      }
    }

    &:last-of-type {
      .graphic-list-link {
        @include media($large-screen) {
          margin-bottom: 0;
        }
      }
    }
  }

  .link-arrow-right {
    margin-top: 3rem;
  }

  .link-lean {
    @include media($large-screen) {
      width: 10rem;
    }
  }
}
