// What we deliver page
// ==========================

.page-what-we-deliver {
  .main-content {
    img {
      width: 11.4rem;
      margin-bottom: $site-margins;
    }
  }

  .usa-width-one-third {
    text-align: center;
  }
}
