// What we deliver page
// ==========================

.page-what-we-deliver {
  .main-content {
    img {
      width: 11.4rem;
      margin-bottom: $site-margins;
    }
  }

  .usa-width-one-sixth {
    text-align: center;
  }

  .content-focus {
    max-width: $site-max-width;
  }

  .section-list {
    &:first-child {
      padding-top: 0;
    }
  }
}
