// Blog post
// ==========================

.post-feature_image {
  background-position: center;
  background-size: cover;
  height: 36rem;

  @include media($medium-screen) {
    height: 40rem;
  }
}

.single-post {
  article {
    @include margin(0 null $section-margins null);

    @include media($medium-screen + 200px) {
      @include margin($section-margins auto);
      max-width: 61rem;
    }

    .image-feature-small {
      margin-top: 0;
    }

    img {
      @include margin($section-margins null);
    }

    figure {
      @include margin($section-margins null);
      text-align: center; // center image if less than full width

      img {
        @include margin(0 null);
      }
    }

    figcaption {
      font-size: $h6-font-size;
      margin-top: 1rem;
      text-align: left;
    }
  }
}

.back-blog {
  display: inline-block;
  font-size: $h6-font-size;
  margin-top: $section-margins;

  @include media($medium-screen + 200px) {
    margin-top: 0.7rem;
    position: absolute;
  }

  &:hover {
    color: $color-dark;
  }
}

.post-header {
  margin-bottom: $section-margins;
}

.posts {
  ul {
    @include unstyled-list;
  }
}
