// Buttons
// ==========================

.usa-button,
.usa-button:visited {
  background-color: $color-medium;
  font-family: $font-sans;

  &:hover {
    background-color: $color-dark;
  }

  &.usa-button-secondary,
  &.usa-button-secondary:visited {
    background-color: $color-bright;
    color: $color-black;

    &:hover {
      background-color: $color-bright-hover;
    }
  }
}

@mixin link-arrow-right($link-arrow) {
  font-weight: $font-bold;
  font-size: $small-font-size;
  text-decoration: none;

  &:after {
    background-image: url(../img/arrows/#{$link-arrow}.png);
    background-image: url(../img/arrows/#{$link-arrow}.svg);
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 1.2rem;
    margin-bottom: -1px;
    margin-left: 4px;
    width: 1.2rem;
  }

  &:hover::after {
    background-image: url(../img/arrows/#{$link-arrow}-hover.png);
    background-image: url(../img/arrows/#{$link-arrow}-hover.svg);
  }

  &:visited {
    color: $color-medium;

    &:hover {
      color: $color-medium-hover;
    }
  }
}

@mixin link-arrow-left($link-arrow) {
  font-weight: $font-bold;
  font-size: $small-font-size;
  text-decoration: none;

  &:before {
    background-image: url(../img/arrows/#{$link-arrow}.png);
    background-image: url(../img/arrows/#{$link-arrow}.svg);
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 1.2rem;
    margin-bottom: -1px;
    margin-right: 4px;
    width: 1.2rem;
  }

  &:hover::after {
    background-image: url(../img/arrows/#{$link-arrow}-hover.png);
    background-image: url(../img/arrows/#{$link-arrow}-hover.svg);
  }

  &:visited {
    color: $color-medium;

    &:hover {
      color: $color-medium-hover;
    }
  }
}

.link-arrow-left {
  @include link-arrow-left(medium/arrow-left);
}

.link-arrow-right {
  @include link-arrow-right(medium/arrow-right);
}

.link-arrow-right-alt {
  @include link-arrow-right(bright/arrow-right);
}
