// Footer
// ==========================

footer[role=contentinfo] {
  @include padding($site-margins null);
  background-color: $color-gray-lightest;
  font-size: $tiny-font-size;

  ul {
    @include unstyled-list;
  }

  li {
    font-weight: $font-bold;
    line-height: 2.1rem;
  }

  a {
    text-decoration: none;

    &:visited {
      color: $color-medium;
    }

    &:hover {
      color: $color-dark;
    }
  }

  .usa-sidenav-list {
    @include unstyled-list;

    > li {
      border-top-color: $color-gray-lighter;
      color: $color-medium;
    }

    a {
      @include padding(1.25rem null);
      color: $color-medium;
      font-size: $h6-font-size;

      &:hover {
        background-color: $color-gray-lighter;
      }
    }
  }

  .usa-accordion {
    button {
      @include padding(1.4rem null);
      background-position: left 10rem center;
    }
  }

  button {
    font-size: $h6-font-size;
    font-style: $font-sans;
    font-weight: $font-normal;
    text-align: left;
  }

  .usa-accordion-content {
    background-color: $color-gray-lightest;

    li {
      border-top: 1px solid $color-gray-lighter;
    }
  }
}

.footer-mobile {
  @include media($medium-screen) {
    display: none;
  }
}

.footer-desktop {
  display: none;

  @include media($medium-screen) {
    display: block;
  }
}

.footer-logo-links {
  @include media($medium-screen) {
    @include span-columns(2);
  }
}

.footer-links {
  margin-top: 1em;

  @include media($medium-screen) {
    margin-top: 0;

    @include span-columns(2);
  }
}

.footer-links-heading {
  font-size: $tiny-font-size;
  font-weight: $font-normal;
  margin: 0;
}

.footer-logo {
  &:first-child {
    margin-right: 0.7rem;
  }

  img {
    width: 4.4rem;
  }
}

.footer-newsletter {
  label {
    margin-top: 0;
  }

  p {
    font-weight: $font-bold;
  }

  .form-group {
    float: left;
    width: 60%;
  }

  [type="submit"] {
    display: inline;
    margin-top: 1em;
    padding: 0;
    width: 80px;
  }
}
