// Typography
// ==========================

body {
  font-family: $font-sans;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-base;
  font-family: $font-sans;
}

a {
  color: $color-medium;

  &:hover {
    color: $color-medium-hover;
  }

  &:visited {
//    color: $color-medium;
  }
}

// TODO: fix variables issues
// ==========================

// *TODO*: Fix this so we don't have to re-call these when there are new variables


.usa-sidenav-list  {
  a {
    font-family: $font-sans;
  }
}
