---
permalink: /blog-index/
layout: default
title: Blog
---

<section class="usa-section background-dark">
  <div class="usa-grid">
    <h1 class="page-heading">{{ page.title }}</h1>
    <div class="blog-search">
      <form class="usa-search usa-search-small">
        <div role="search">
          <label class="usa-sr-only" for="search-field-small">Search small</label>
          <input id="search-field-small" type="search" name="search">
          <button type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </div>
      </form>
    <p><a class="link-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a></p>
    </div>
  </div>
</section>

<div class="blog-content usa-grid">

  <ul class="post-list">

    {% for post in site.posts %}
      <li>
        <div class="usa-width-two-thirds">
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {{ post.excerpt }}
          <p>
            <a class="post-link-continue_reading" href="{{ post.url | prepend: site.baseurl }}">Continue reading</a>
          </p>
          <span class="post-tags" itemprop="keywords">
            {% for tag in post.tags %}
              <a class="usa-label" href="{{ site.baseurl }}/{{ site.tag_dir }}/{{ tag | slugify }}/">{{ tag }}
              </a>
            {% endfor %}
          </span>
        </div>
        <div class="usa-width-one-third">
          {% if post.image != null %}
            <img src="{{ site.baseurl }}{{ post.image }}">
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
